::-webkit-scrollbar {
    display: none;
  }
body {
    color: #e17564;
    margin: 0;
    background-image: url(tupa.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* border: #be3144 solid 10px; */
}
.link {
    padding-top: 2vh;
    background-color: #2c091c;
    width: 15vw;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    padding-bottom: 5rem;
    border: 0.5rem #be3144 solid;
    border-radius: 1rem;
}
.link a {
    color: #e17564;
    text-decoration: none;
    border-bottom: 1px solid #555;
    padding-top: 15px;
    background-color: transparent;
}
.three_lines{ 
    padding: 3vh; 
    background-color: #09122c; 
    color: #ffffff; 
    position: fixed; 
    border: none;
    font-size: 100%;
    border-radius: 20px;
    z-index: 9999;
    top: 0;
}
.three_lines:hover {
    background-color: #05133b; /* Change background color when hovered */
}
.sidebar{
    display: flex;
    position: fixed;
    transition: left 1.25s ease-in-out; /* 使用 transition 来平滑过渡 */
    left: -16.5vw;
    top: 5rem;
}

.first{
    width: 60vw;
    height: auto;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 10vh;
}
h1{
    font-size: 5vw;
}
h2{
    margin: auto;
    width: 60vw;
    font-size: 3vw;
}
.h{
    height: 100vh;
}
#first{
    display: flex;
}
